@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


    
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a href="javascript:void(0)" class="dropbtn">Account</a>
            <div class="dropdown-content">
                <a id="manage" class="nav-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">My Profile</a>
                <form class="logout_form" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
                    <button type="submit" class="logout_form_button">Logout</button>
                </form>
                
            </div>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a href="javascript:void(0)" class="dropbtn">Account</a>
            <div class="dropdown-content">
                <a class="nav-item" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
                <a class="nav-item" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
            </div>
        </li>
    }
