@model Book

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>Help Topic</h2>
<details>
    <summary>Mật khẩu không đạt yêu cầu</summary>
    <p>Mật khẩu phải đúng với quy tắc bảo vệ an toàn cho người dùng của chúng tôi. Theo đó, nó bao gồm:</p>
    <p>-Ít nhất 6 ký tự trở lên.</p>
    <p>-Có ít nhất 1 ký tự bình thường, số và ký tự viết hoa.</p>
    <p>-Có ít nhất 1 ký tự đặc biệt.</p>
</details>

<details>
    <summary>Email không đạt yêu cầu:</summary>
    <p>Email của bạn phải đúng theo cú pháp: username@domain</p>
</details>

<details>
    <summary>Yêu cầu thông tin:</summary>
    <p>Yêu cầu mỗi trường thông tin người dùng có tối thiểu 6 ký tự trở lên</p>
</details>

<details>
    <summary>Phải làm sao nếu tôi quên mật khẩu?</summary>
    <p>Chúng tôi biết rằng người dùng sẽ có nhiều lúc quên mất mật khẩu của mình. Vì vậy để xử lý vấn đề này. FPT Book cho phép người dùng lấy lại mật khẩu bằng những bước sau đây?</p>
    <p>-Bước 1: Nếu bạn vô tình quên mất mật khẩu đã đặt cho tài khoản của mình. Hãy nhấn vào nút Quên mật khẩu bên cạnh nút Login.</p>
    <p>-Bước 2: Nhập email và nhấn vào nút Lấy lại mật khẩu</p>
    <p>-Bước 3: Chờ Admin chấp nhận request</p>
    <p>-Bước 4: Lấy mã IP, xác thực và nhận lại tài khoản</p>
</details>

<details>
    <summary>Thành viên mới?</summary>
    <p>Quy trình trả hàng hoàn tiền của NTL_Shop</p>
    <p>Cách theo dõi tình trạng vận chuyển của đơn hàng?</p>
    <p>Làm sao để mua hàng / đặt hàng trên ứng dụng NTL_Shop</p>
</details>

<details>
    <summary>Đơn hàng</summary>
    <p>Tôi phải làm gì nếu đơn hàng bị cập nhật sai trạng thái/chưa nhận được hàng?</p>
</details>

<details>
    <summary>Thanh toán?</summary>
    <p>Danh sách ngân hàng liên kết</p>
    <p>Cách liên kết tài khoản Ngân hàng TPBank với Ví NTL_SHOPpay trên NTL_Shop</p>
    <p> Tổng hợp câu hỏi về xác minh thông tin</p>
</details>

<details>
    <summary>Hướng dẫn trả góp</summary>
    <p>Mang căn cước công dân</p>
</details>

<details>
    <summary>Đổi trả và bảo hành</summary>
    <p>Xác nhận thông tin</p>
    <p>Lưu giữ lại hóa đơn khi mua hàng</p>
</details>

<details>
    <summary>Cách lấy mã giảm giá và ưu đãi</summary>
    <p>Săn sale vào khung giờ tốt</p>
    <p>Săn sale vào ngày 7 và 31</p>
</details>