@model Book

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h1>HELP TOPIC</h1>
<details>
    <summary><h3>01. Password does not meet the requirements</h3></summary>
    <p>The password must be in accordance with our user safety rules. Accordingly, it includes:</p>
    <p>- At least 6 characters or more.</p>
    <p>- Have at least 1 normal character, number and uppercase character.</p>
    <p>- Contains at least 1 special character.</p>
</details>

<details>
    <summary><h3>02. Unsolicited email</h3></summary>
    <p>Your email must follow the correct syntax: username@domain</p>
</details>

<details>
    <summary><h3>03. Information request</h3></summary>
    <p>Requires each user information field to be at least 6 characters long</p>
</details>

<details>
    <summary><h3>04. What if I forgot my password?</h3></summary>
    <p>We know that users will often forget their passwords. So to handle this problem. FPT BOOK allows users to recover their password with the following steps</p>
    <p>- Step 1: If you accidentally forgot the password set for your account. Click the Forgot Password button next to the Login button.</p>
    <p>- Step 2: Enter your email and click the Reset Password button</p>
    <p>- Step 3: Wait for the Admin to accept the request</p>
    <p>- Step 4: Get the IP code, authenticate and get the account back</p>
</details>

<details>
    <summary><h3>05. New member</h3></summary>
    <p>The return and refund process of FPT BOOK</p>
    <p>How to track the shipping status of an order?</p>
    <p>How to purchase / order on FPT BOOK application</p>
</details>

<details>
    <summary><h3>06. Order</h3></summary>
    <p>What should I do if my order has been updated to the wrong status/not received</p>
</details>

<details>
    <summary><h3>07. Pay</h3></summary>
    <p>List of affiliated banks</p>
    <p>How to link TPBank account with FPT BOOK pay Wallet on FPT BOOK</p>
    <p>Summary of questions about information verification</p>
</details>

<details>
    <summary><h3>08. Installment Instructions</h3></summary>
    <p>Bring a citizen ID</p>
</details>

<details>
    <summary><h3>09. Returns and Warranty</h3></summary>
    <p>Confirm information</p>
    <p>Keep the receipt when buying</p>
</details>

<details>
    <summary><h3>10. How to get discount codes and offers</h3></summary>
    <p>Hunting for sale at a good time</p>
    <p>Hunt for sale on 7 and 31</p>
</details>

<style>
    summary{
    display: inline-block;
    }
    h1{
    padding-bottom: 15px;
    }
    .pb-3 {
          padding-left: 16px;
          text-align: left;
        }
</style>