@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hi @UserManager.GetUserName(User)!</h1>
    <h1 class="display-4">Welcome to FPT BOOK</h1>
</div>