@{
    ViewData["Title"] = "Checkout Success";
}

<div class="text-center">
    <h1>Checkout Success</h1>
    <br class="m-3" />
    <p class="text-black my-3">Your orders are ready, please checking the Orders or go back to browser more.</p>
    <div class="text-center_check_orders">
        <a class="btn btn-primary my-3" asp-action="Index" asp-controller="Orders">Check Orders</a>
    </div>
    <div class="text-center_continue_to_browser">
        <a class="btn btn-secondary my-3" asp-action="Index" asp-controller="Books">Continue to browser</a>
    </div>
</div>
<style>
    .text-center_check_orders a{
        border-radius: 50px;
        padding: 6px 10px 6px 10px;
        background-color: limegreen;
        border-color: limegreen;
    }
    
    .text-center_continue_to_browser a{
         border-radius: 50px;
         padding: 6px 10px 6px 10px;
         background-color: #ff8000;
         border-color: #ff8000;
        }
        
    
</style>
