@page
@model LoginModel

@{
    ViewData["Title"] = "Log in";
}

<h1>@ViewData["Title"]</h1>

<div class="container py-4">
    <div class="row g-0 align-items-center">
        <div class="col-lg-6 mb-5 mb-lg-0">
            <div class="card cascading-right" style="
            background: hsla(0, 0%, 100%, 0.55);
            backdrop-filter: blur(30px);
            ">
                <div class="card-body p-5 shadow-5 text-center">
                    <h2 class="fw-bold mb-5">Sign up now</h2>
                    <form id="account" method="post">
                        <!-- 2 column grid layout with text inputs for the first and last names -->
           

                        <!-- Email input -->
                        <div class="form-outline mb-3">
                            <label asp-for="Input.Email" class="form-label"></label>
                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                            <span asp-validation-for="Input.Email" class="text-danger"></span>

                        </div>

                        <!-- Password input -->
                        <div class="form-outline mb-3">
                            <label asp-for="Input.Password" class="form-label"></label>
                            <input asp-for="Input.Password" class="form-control" autocomplete="current-password" aria-required="true"/>
                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                        </div>

                        <!-- Checkbox -->
                        <div class="form-check d-flex justify-content-center mb-4">
                            <label asp-for="Input.RememberMe" class="form-label">
                                <input class="form-check-input" asp-for="Input.RememberMe" />
                                @Html.DisplayNameFor(m => m.Input.RememberMe)
                            </label>
                            
                        </div>
                        
                        <!-- Submit button -->
                        <div class="login_button">
                            <button id="login-submit" type="submit" class="btn btn-primary btn-block mb-4">Log in</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="col-lg-6 mb-5 mb-lg-0">
            <img src="https://inkythuatso.com/uploads/thumbnails/800/2021/11/logo-fpt-inkythuatso-1-01-01-14-33-35.jpg" id="img_login" class="w-100 rounded-4 shadow-4"
                 alt="" />
        </div>
    </div>
</div>

<style>
    .cascading-right {
      margin-right: -50px;
    }

    @Component (max-width: 991.98px) {
      .cascading-right {
        margin-right: 0;
      }
    }
    
    .login_button button{
            border-radius: 50px;
            padding: 6px 10px 6px 10px;
            background-color: limegreen;
            border-color: limegreen;
            color: white;
            text-decoration: none;
        }
        
    
    
    .pb-3 {
          padding-left: 16px;
          text-align: left;
        }
  </style>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
