@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}

<section class="bg" style="background-color: #eee;">
    <div class="container h-100">
        <div class="row d-flex justify-content-center align-items-center" id="bg">
            <div class="col-lg-12 col-xl-11">
                <div class="card text-black" style="border-radius: 25px;">
                    <div class="card-body p-md-5">
                        <div class="row justify-content-center">
                            <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">

                                <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Register</p>

        <form id="registerForm" class="register_form" asp-route-returnUrl="@Model.ReturnUrl" method="post">

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.Email"></label>
                                            <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true"/>
                                            <span asp-validation-for="Input.Email" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.FullName"></label>
                                            <input asp-for="Input.FullName" class="form-control" aria-required="true"/>
                                            <span asp-validation-for="Input.FullName" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.Password"></label>
                                            <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true"/>
                                            <span asp-validation-for="Input.Password" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.ConfirmPassword"></label>
                                            <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true"/>
                                            <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.HomeAddress"></label>
                                            <input asp-for="Input.HomeAddress" class="form-control" aria-required="true"/>
                                            <span asp-validation-for="Input.HomeAddress" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                                    <label asp-for="Input.PhoneNumber"></label>
                                            <input asp-for="Input.PhoneNumber" class="form-control" aria-required="true"/>
                                            <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center mb-4">
                                        <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                                        <div class="form-outline flex-fill mb-0">
                                            <label asp-for="Input.Role"></label>
                                            <select asp-for="Input.Role" asp-items="Model.Input.Roles" class="form-select" aria-required="true">
                                                <option></option>
                                            </select>
                                            <span asp-validation-for="Input.Role" class="text-danger"></span>
                                        </div>
                                    </div>

                                    <div class="register_button">
                                         <button id="registerSubmit" type="submit" class="w-100 btn btn-lg btn-primary">Register</button>  
                                    </div>

                                </form>

                            </div>
                            <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">

                                <img src="https://img.freepik.com/free-vector/young-man-sitting-armchair-reading-book_74855-6151.jpg?w=900&t=st=1682257850~exp=1682258450~hmac=bd68a444f6920e00be4b8efa6a7fff826fe2007be98e5bb2768a92d947b84856"
                                     class="img-fluid" alt="Sample image">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>



<style>
    .register_button{
    padding-top: 15px;
    }
    .register_button button{
                border-radius: 50px;
                padding: 6px 10px 6px 10px;
                background-color: limegreen;
                border-color: limegreen;
                color: white;
                text-decoration: none;
            }        
        
        .bg{
        height: 950px;
        padding-top: 40px;
        }
        

        
        .pb-3 {
              padding-left: 16px;
              padding-top: 20px !important;
              text-align: left;
            }
</style>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
