html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}



*{
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

.hero{
  background: #1d2026;
  width: 100%;
  color: #fff;
  position: relative;
}

.container{
  padding-left: 0px;
  padding-right: 0px;
}

nav{
  display: flex;
  align-items: center;
}

nav ul{
  /*    list-style-type: none;*/
  /*    overflow: hidden;*/
  flex: 1;
  text-align: center;
  padding-top: 15px;
  padding-left: 220px;
}
nav ul .nav-link {
  color: white;
}

nav ul li{
  display: inline-block;
  list-style: none;
  margin:  0 20px;
}

.dropbtn {
  display: inline-block;
  color: white;
  text-decoration: none;
}
.nav-item{
  display: inline-block;
  color: white;
  text-decoration: none;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 70px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border-radius: 0px 0px 5px 5px;
}

.dropdown-content a {
  color: black;
  padding: 12px 5px 12px 5px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {background-color: #f1f1f1;}

li a:hover, .nav-item:hover {
  color: #00986f;
}

li a:hover, .nav-item:hover .dropbtn {
  color: #00986f;
}


.nav-item:hover .dropdown-content {
  display: block;
  border-radius: 0px 0px 5px 5px;
}

.form-inline {
  display: inline-block;
  text-align: right;
  float: right;
}

.form-control{
  width: 40%;
  display: inline-block;
}

#logo{
  display: inline-block;
  text-decoration: none;
  color: white;
  float: left;
}
/*.hero>nav>button {
  height: 27px;
  width:60px;
  border-radius: 60px;
  outline: 0;
  border: 0;
  cursor: pointer;
}*/

/*span {
  display: block;
  background: #999;
  height: 26px;
  width: 26px;
  border-radius: 50%;
  margin-left: 2px;
  transition: background 0.5s, margin-left 0.5s;
}*/

/*.lamp-container {
  position: absolute;
  top: -20px;
  left: 300px;
  width: 200px;
}*/

/*.lamp{
  width: 110%;
  margin-left: -20px;
}*/

/*
.light{
  position: absolute;
  top: 99%;
  left: 50%;
  transform: translate(-50%);
  width: 850px;
  margin-left: -20px;
  opacity: 0;
  transition: opacity 0.5s;
}
*/

/*.text-container{
  max-width: 550px;
  margin-top: 4%;
  margin-left: 50%;
}*/

/*.text-container>h1 {
  font-size: 60px;
  font-weight: 400;
}*/

/*.text-container a{
  text-decoration: none;
  background: #00986f;
  padding: 14px 40px;
  display: inline-block;
  color: #fff;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 50px;
  border-radius: 30px;
}*/

/*.active{
  background: green;
}

.active span{
  background: #fff;
  margin-left: 31px;
}

.on{
  opacity: 1;
}*/

